
body, html { padding: 0; margin: 0; }

button {
	display: block;
	margin-bottom: 20px;
}

.outer-wrapper {
	display: grid;
	grid-template: auto / 1fr 1fr;
	gap: 10px;
}

.outer-wrapper > div {
	border-left: solid 1px #EFEFEF;
	padding: 10px;
}

.outer-wrapper > div:first-child {
	border-left: none;
}

.focus {
	height: calc(100vh - 20px);
	overflow: auto;
}

.focus[data-content=kss], 
.focus[data-content=style-tree] {
	font-size: 16px;
	line-height: 21px;
	white-space: pre;
}